*.csv filter=lfs diff=lfs merge=lfs -text
*.yml filter=lfs diff=lfs merge=lfs -text
*.gitignore filter=lfs diff=lfs merge=lfs -text
/LICENSE filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
*.ipynb filter=lfs diff=lfs merge=lfs -text
*.toml filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
/stimuli/formatted/alternateithicatom filter=lfs diff=lfs merge=lfs -text
/stimuli/formatted/avatar filter=lfs diff=lfs merge=lfs -text
/stimuli/formatted/howtodraw filter=lfs diff=lfs merge=lfs -text
/stimuli/formatted/legacy filter=lfs diff=lfs merge=lfs -text
/stimuli/formatted/life filter=lfs diff=lfs merge=lfs -text
/stimuli/formatted/myfirstdaywiththeyankees filter=lfs diff=lfs merge=lfs -text
/stimuli/formatted/naked filter=lfs diff=lfs merge=lfs -text
/stimuli/formatted/odetostepfather filter=lfs diff=lfs merge=lfs -text
/stimuli/formatted/souls filter=lfs diff=lfs merge=lfs -text
/stimuli/formatted/undertheinfluence filter=lfs diff=lfs merge=lfs -text
/stimuli/formatted/wheretheressmoke filter=lfs diff=lfs merge=lfs -text
*.TextGrid filter=lfs diff=lfs merge=lfs -text
*.report filter=lfs diff=lfs merge=lfs -text
* !text !filter !merge !diff
